
#logo{ 
    max-width: 200px; 
    max-height: 100px 
}

.nav {
    margin-bottom: 0px;
    margin-top: 0px;  
}

.nav-tabs .active a, .nav-tabs .active a:hover {
    background: #EFEFEF;
}

#narr li {

    background-color: rgba(190, 221, 233, 0.795);
    border: 5px solid;
    border-color: rgb(135, 182, 252);
    padding: 50px;
    max-width: 100px; 
    max-height: 100px ;
    margin-top: 15px;
    list-style: none;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    margin-right: 25px;
    flex: 1;
    
}

#narr {
    display:flex;
    
}

