#logo {
    max-width: 200px;
    max-height: 100px
}

#lab {
    font-variant: small-caps;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: rgb(102, 186, 224);
}

#editor {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 500px;
    margin: 10px;
    box-shadow: 0 0 3px 0px rgb(46, 116, 221);
}


/*w=586*/

#editor #nodeDialog {
    width: 500px;
    height: 328px;
    resize: vertical;
}

#editor input {
    width: 500px;
    margin: 0 0 15px 0;
}

#editor label {
    font-variant: small-caps;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #aaa;
}

#editor p {
    margin: 10px 0 0 0;
}

.nav {
    width: calc(100% - 565px);
    margin-bottom: 0px;
    margin-top: 0px;
}

.nav-tabs .active a,
.nav-tabs .active a:hover {
    background: #EFEFEF;
}

.persNP {
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(102, 186, 224);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.persNP:hover {
    background-color: rgb(161, 216, 243);
}

.persNP:active {
    background-color: rgb(161, 216, 243);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#SN {
    margin-top: 12px;
    margin-left: 175px;
}